script(type="text/template", id="graph-editor-template").
  <div class="header">
    <h4><%= name %></h4>
  </div>
  <div class="sidebar">
    <h4>Modules</h4>
    <ul class="modules-list"></ul>
  </div>
  <div class="editor"></div>
  <div class="detail">
  </div>

script(type="text/template", id="graph-node-template").
  <circle class="outline" r="<%= r %>" cx="<%= r %>" cy="<%= r %>"></circle>
  <text x="<%= r %>" y="<%= r %>" style="text-anchor: middle;">
    <%= displayName %>
  </text>
  <text class="status status-<%= status %>" style="text-anchor: middle;"
    x="<%= r %>" y="<%= r + 20 %>">
    <%= statusText %>
  </text>
  <circle class="drag-handle"
    cx="<%= handlePosition.x %>" cy="<%= handlePosition.y %>" r="20"></circle>
  <path
    class="drag-handle"
    transform="translate(<%= handlePosition.x %>,<%= handlePosition.y %>)"
    d="<%= dragHandlePath %>"></path>
  <path class="run"
    transform="translate(<%= runPosition.x %>,<%= runPosition.y %>) rotate(90)"
    d="<%= runPath %>"></path>
  <% inputs.forEach(function(input, i) { %>
    <circle class="connector input" data-name="<%= input.name %>"
      cx="<% print(inputPosition(i, r, inputs.length).x) %>"
      cy="<% print(inputPosition(i, r, inputs.length).y) %>"
      r="5"></circle>
  <% }); %>
  <% if (output) { %>
    <circle class="connector output" r="5" cx="<%= r %>" cy="<%= 2 * r - 10 %>">
  <% } %>

script(type="text/template", id="connection-group-template").
  <div class="connection-list-group clearfix">
    <div class="connection-list outputs">
      <h5><%- outputModuleName %></h5>
      <ul class="list-unstyled">
      <% outputs.forEach(function(output) { %>
        <li><%- output %></li>
      <% }); %>
      </ul>
    </div>
    <div class="connection-list inputs">
      <h5><%- inputGroupName %></h5>
      <ul class="list-unstyled">
      <% inputs.forEach(function(input) { %>
        <li><%- input %></li>
      <% }); %>
      </ul>
    </div>
  </div>
