script(type="text/template", id="graph-editor-template").
  <div class="header">
    <h4><%= name %></h4>
  </div>
  <div class="sidebar">
    <h4>Modules</h4>
    <ul class="modules-list"></ul>
  </div>
  <div class="editor"></div>
  <div class="detail">
  </div>

script(type="text/template", id="graph-node-template").
  <rect class="outline" x="<%= x %>" y="<%=y %>" rx="<%= 6 %>" ry="<%= 6 %>" width="<%= w %>" height="<%= h %>" ></rect>
  <text x="<%= x+w/2  %>" y="<%= y+20 %>" style="text-anchor: middle;">
    <%= displayName %>
  </text>
  <text class="status status-<%= status %>" style="text-anchor: middle;"
    x="<%= x+w/2 %>" y="<%= y + 40 %>">
    <%= statusText %>
  </text>
  <path class="run"
    transform="translate(<%= runPosition.x %>,<%= runPosition.y %>) rotate(90)"
    d="<%= runPath %>"></path>
  <% inputs.forEach(function(input, i) { %>
    <circle class="connector input" data-name="<%= input.name %>"
      x="<% print(inputPosition(i, w, inputs.length).x) %>"
      y="<% print(inputPosition(i, w, inputs.length).y) %>"
      r="1.5" ></circle>
  <% }); %>
  <% if (output) { %>
    <circle class="connector output" r="1.5" x="<%= x %>" y="<%= y %>">
  <% } %>

script(type="text/template", id="connection-group-template").
  <div class="connection-list-group clearfix"
    data-inputgroup="<%- inputGroupName %>">
    <div class="connection-list outputs">
      <h5><%- outputModuleName %></h5>
      <ul class="list-unstyled">
      <% outputs.forEach(function(output) { %>
        <li class="connection connected output"><%- output %></li>
      <% }); %>
      <% unconnectedOutputs.forEach(function(output) { %>
        <li class="connection unconnected output"><%- output %></li>
      <% }); %>
      </ul>
    </div>
    <div class="connection-list inputs">
      <h5><%- inputGroupName %></h5>
      <ul class="list-unstyled">
      <% inputs.forEach(function(input) { %>
        <li class="connection connected input"><%- input %></li>
      <% }); %>
      <% unconnectedInputs.forEach(function(input) { %>
        <li class="connection unconnected input"><%- input %></li>
      <% }); %>
      </ul>
    </div>
  </div>
