doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    title MiddGuard
    each link in clientLibs.css
      link(rel='stylesheet', href=clientLibs.prefix + '/' + link)
    link(rel='stylesheet', href='static/css/base.css')
    link(rel='stylesheet', href='static/css/sidebar.css')
    link(rel='stylesheet', href='static/css/graph-editor.css')
    each link in css
      link(rel='stylesheet', href='/modules/' + link)
  body
    include ./sidebar.jade
    include ./graphs-panel-template
    include ./graph-editor-template
    script.
      var middguard = middguard || {};
      middguard.user = {id: #{user.id}, username: '#{user.username}'};
    each script in clientLibs.js
      script(src=clientLibs.prefix + '/' + script)
    each script in appJs.js
      script(src=appJs.prefix + '/' + script)
    each script in js
      script(src='modules/' + script)
    div#middguard-header
    div.middguard-views
